*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.8%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
}
h1 {
    margin: 1rem;
    font-size: 3rem;
    color: #ffffff;
    text-align: center;
}
.main-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.pizarra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputs {
    position: sticky;
    display: flex;
    flex-direction: column;
    /* border: 0.2rem solid orange; */
}
.inputs div{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    /* border: 0.2rem dotted green; */
}
.inputs p {
    text-align: center;
    color: #ffffff;
    margin: 0.2rem;
    font-size: 1.8rem;
}
.inputs input{
    border-radius: 2rem;
}
canvas{
    height: 50rem;
    width: 50rem;
    margin: 2rem;
    border: 2px solid black;
    background-color: #ffffff;

    padding: 0.2rem;
    border-radius: 1rem;
}

.boton {
    margin: 2rem;
    height: 3rem;
    width: 10rem;
    
    background-color: grey;
    
    border: solid black;
    border-radius: 10px;
    
    font-weight: bolder;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    
    align-self: center;
}
.boton:hover {
    color: white;
    border: solid antiquewhite;

}
@media (max-width: 830px) {
    .main-container{
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .main-container{
        align-items: center;
    }
    .pizarra canvas{
        max-width: 90vw;
        max-height: 90vw
    }
}